<div class="container full-width">
  <div class="jumbotron">
    <h1>Contact</h1>
    <p>Got a question? <a href="mailto:ellenfromillinois@gmail.com?Subject=Contact%20from%20website" title="opens email link">Send me a line!</a></p>
  </div>
</div>