<div class="welcome">
  <div class="container full-width well bordered">
    <h2>Hi there!</h2>
    <p>I'm Ellen. I'm a human who lives in western Washington. Professionally, I write code. I care a lot about my users' needs, and I believe in using good engineering practices to support these needs. You can never write perfect code, but you can build a robust system of processes that finds problems before they reach your end user.</p>
    <p>In my personal life, I like to express my creative side. I create music, paint, knit, cross-stitch...I've tried most fiber arts that I've heard of. I have two very small cats and two very large dogs, and they're all named after fighter pilots on the Battlestar Galactica, because I'm a big nerd too.</p>
    <p>This is my personal website. It's not much, but it's mine.</p>
  </div>

  <div class="container full-width well bordered box-model">
    <h5>Box Model Cross Stitch</h5>
    <p>
      The box model describes the way that different elements on a website relate to each other in space; you can learn more about it <a href="https://developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks/The_box_model#What_is_the_CSS_box_model" alt="link to the MDN description of the box model">here</a>. This cross-stitch represents the box model using colors inspired by the Google Chrome demonstration of the model, but it can be done in many other color combinations.
    </p>
    <span class="img-wrapper">
      <img src="/box_model_stitch.png">
    </span>
  </div>
  <div class="container full-width well bordered w-saves">
    <h5>w-saves Cross-Stitch</h5>
    <p>The command ":w" saves your document in Vi/Vim. This cheeky cross-stitch helps me remember that.</p>
    <span class="img-wrapper">
      <img src="/w_saves_stitch.jpg">
    </span>
  </div>
  <div class="container full-width well bordered find-bug">
    <h5>Seven Times Eight Cross-Stitch</h5>
    <p>There's a famous proverb, "fall down seven times, get up eight." Well, this is the developer's version of that. In addition to showing the text and the image of a bug, there is an LED element: the bug can light up.</p>
    <span class="img-wrapper">
      <img src="dead_bug_stitch.jpg">
      <img src="lit_bug_stitch.jpg">
    </span>
  </div>
  <div class="container full-width well bordered led">
    <h5>LED Color Theory Cross-Stitch</h5>
    <p>I am iterating on a design that properly represents hexcode and LED color. Hexcode is made of three combinations of letters and numbers which correspond to an amount of red, blue, and green light. Those lights can combine to create other colors like cyan, yellow, and magenta. I am iterating on size, labels, and positioning to try to make it as legible as possible.</p>
    <span class="img-wrapper">
      <img src="/first_led_stitch.jpg">

      <img src="/second_led_stitch.jpg">
    </span>
  </div>
  <div class="container full-width well bordered laundry">
    <h5>Full-Fat Cheesecake Cross-Stitch</h5>
    <p>These piece are part of some art depicting fat women that I created for August Adipose. In depicting a fat woman almost like a pin-up, I attempted to stake out some sensual, functional, fun space for fatness.</p>
    <span class="img-wrapper">
      <img src="/laundry_stitch.jpg">

      <img src="/hairbrush_stitch.jpg">
    </span>
</div>