<div class="well container full-width link-container">
    <h5 class="h2">Contact</h5>
    <p>Got a question? <a href="mailto:ellenfromillinois@gmail.com?Subject=Contact%20from%20website" title="opens email link">Send me a line!</a></p>

    <h5 class="h2">LinkedIn</h5>
    <p>Connect with me on LinkedIn! <a href="https://www.linkedin.com/in/ln1draw/" target="__blank" title="Ellen's linkedin page"><img src="brands/linkedin-logo.png"></a></p>

</div>