<div class="container full-width well music bordered">
  <h2>Music</h2>
  <p>For the past 13 years, writing and performing music has been one of my greatest passions. I often struggle to find the right way to bring my music to others, or the right moment to share it, but I've never struggled to find it in myself. Right now, most of my stuff is over on <a href="https://www.facebook.com/ln1draw/?eid=ARCBF5zz8tFvHT32ox5dbUpgPp73NaWzrpKdnaXgW_qU5dI-KDejXYiLY6Ofd1lclRvxFN8DD1tPd_q6" title="facebook page" class="links" target="__blank">my Facebook page</a>.</p>
  <p>So: hey! I'm Ellen Wondra. I make music, whenever I can.</p>
  <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fellen.wondra.5%2Fvideos%2F10207534541698417%2F&show_text=0&width=560" width="560" height="373" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
</div>