<div class="container full-width well welcome">
  <h2>Welcome!</h2>
  <p>
    I'm not sure what brought you here, other than my QR cross-stitch--how effing cool is that?!
  </p>
  <p>
    <img class="qr-img" src="../qr-cross-stitch.jpg" alt="decorative QR cross stitch art that takes you to this page!">

  </p>
  <p>
    I love the intersection of technology and fiber arts. I also love making music, making art, performing, and creating.
  </p>
  <p>
    If you felt moved or inspired by something I created, and you have the ability to give, please do. Consider this busking for the 2010's :) I'm a queer disabled woman, and every little bit helps me keep making my art and creating my tech. Thank you!
  </p>
  <p class="money-banner">
    <a href='http://www.ko-fi.com/ellenwondra' alt='ko-fi account'target="__blank">
      Catch me on Ko-Fi <span class="glyphicon glyphicon-piggy-bank" aria-hidden="true"></span>
    </a> 
    <a href='https://www.paypal.me/ln1draw' alt='paypal account' target="__blank">
      Peep me on PayPal <span class="glyphicon glyphicon-gift" aria-hidden="true"></span>
    </a>
    <a href='https://venmo.com/Ellen-Wondra' alt='venmo account' target="__blank">
      Visit me on Venmo <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
    </a>
  </p>
</div>