<div ng-controller="ResumeController" class="resume">
  <h1>Experience</h1>
  <div class="filter-selector form-group">
    <label for="techFilterInput">Filter on technologies</label>
    <input ng-model="techFilter.technologies" class="form-control" id="techFilterInput"/>
  </div>

  <div>
    <span ng-repeat="experience in experiences | filter : techFilter" class="col-sm-4 xp-panel">
      <div class="panel panel-default" ng-click="toggleActive(experience.title)" ng-class="{'active' : isActive(experience.title)}">
        <div class="front" ng-show="!isActive(experience.title)">
          <div class="panel-heading">
            <div class="row">
              <h5 class="h4">{{experience.title}}</h5>
              <span class="pull-right">{{experience.company}}</span>
            </div>
          </div>

          <div class="panel-body">
            <div class="date-wrapper h5">
              {{experience.start_date}} - 
              {{experience.end_date | date : "MMMM yyyy"}}
            </div>
            <ul class="list-inline technologies">
              <li ng-repeat="technology in experience.technologies" class="badge">
                {{technology}}
              </li>
            </ul>
          </div>
        </div>

        <div class="back" ng-show="isActive(experience.title)">
          back
        </div>

      </div>
    </span>
  </div>
</div>