<div ng-controller="ResumeController" class="resume">
  <div class="subheader">
    <h1>Experience</h1>
    <p>click on card for details</p>
    <div class="filter-selector form-group">
      <label for="techFilterInput">Filter on technologies</label>
      <input ng-model="techFilter.technologies" class="form-control search" id="techFilterInput"/>
    </div>
  </div>

  <div>
    <span ng-repeat="experience in experiences | filter : techFilter" class="col-sm-6 xp-panel">
      <div class="panel panel-default" ng-click="toggleActive(experience.company)" ng-class="{'active' : isActive(experience.company)}">
        <div class="front">
          <div class="panel-heading">
            <div class="row">
              <h5 class="h4">{{experience.title}}</h5>
              <span class="pull-right">{{experience.company}}</span>
            </div>
          </div>

          <div class="panel-body">
            <div class="date-wrapper h5">
              {{experience.start_date}} - 
              {{experience.end_date | date : "MMMM yyyy"}}
            </div>
            <ul class="list-inline technologies">
              <li ng-repeat="technology in experience.technologies" class="badge">
                {{technology}}
              </li>
            </ul>
          </div>
        </div>

        <div class="back">
          <p>
            {{experience.blurb}}
          </p>
        </div>

      </div>
    </span>
  </div>
</div>