<div class="stitchify-results">
  <div class="container full-width well">
    <h2>Your picture, stitchified!</h2>
    <p>Stitchifier is in the very early stages. There will likely be many bugs and improvements to be made. Pull requests for the gem <a href="https://github.com/ln1draw/stitchify" alt="github repo for the gem">here</a> and pull requests for this tool can go <a href="https://github.com/ln1draw/new-personal-site" alt="github repo for the site">here</a>.
    </p>
    <p>
      <h5>Like this tool?</h5> It's made by a disabled queer woman! If you liked it, feel free to <a href='http://www.ko-fi.com/ellenwondra' alt='ko-fi account'> buy me a coffee </a> or tip me <a href='http://www.paypal.me/ln1draw'>via PayPal</a>
    </p>
    <p>Have a lovely day!</p>
  </div>
  <div class="svg-background">
    <%= @svg_data.html_safe %>
  </div>
</div>