<div class="stitchify-results bordered">
  <div class="container full-width well">
    <h2>Your picture, stitchified!</h2>
    <p>Stitchifier is in the very early stages. There will likely be many bugs and improvements to be made. Pull requests for the gem <a <class="pr" href="https://github.com/ln1draw/stitchify" alt="github repo for the gem">here</a> and pull requests for this tool can go <a class="pr" href="https://github.com/ln1draw/new-personal-site" alt="github repo for the site">here</a>.
    </p>
    <p>Have a lovely day!</p>
  </div>
  <div class="svg-background">
    <%= @svg_data.html_safe %>
  </div>
</div>