/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "colors";
@import "header";
@import "welcome";

body {
    background-color: $background;
    -webkit-transform-style: preserve-3d;
}

.bordered {
  border: $border-width solid $black;
}

.money-banner a {
  width: 33%;
  display: inline-block;
  text-align: center;
  margin-top: 10px;
  color: $secondary;

  &:visited {
    color: $tertiary;
  }
}

.footer {
  .footer-header {
    text-align: center;
    margin: 20px;
  }
}