.nav > li {
  text-align: center;

  
}

.nav > li > a {
  padding: 0px;
}

.nav > li > a > img.profile {
  width: 100%;
  max-width: 275px;
  border: 1px solid $black;
}

.text {
  margin-top: 10%;
}

/* overwriting defaults for bootstrap nav hover */
.nav > li > a:hover, .nav > li > a:focus {
  background-color: $secondary-color;
}

.nav > li > a.img-link:hover, .nav > li > a.img-link:focus,
.social > a > img:hover, .social > a > img:focus {
  background-color: inherit;
  opacity: 0.65;
}

@media only screen and (max-width : 768px) {
  .nav > li > a.img-link {
    padding: 0px;
  }
}

.twitter, .insta {
  width: 35px;
}

.insta {
  margin-right: 5px;
}

.social {
  text-align: center;
  margin-top: 15px;

  a {
    width: 40px;
  }
}