$coin-diameter: 200px;
$border-width: 4px;

.header {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 10px;
  font-family: $font-family-monospace;
  perspective: 1000px;

  .pic-container {
    height: $coin-diameter + 2 * $border-width;
    width: $coin-diameter + 2 * $border-width;
    border: $border-width solid $black;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 10px;

    transition: 1.8s;
    transform-style: preserve-3d;

    position: relative;

    &:hover {
      cursor: pointer;
    }

    .front, .back {
      -webkit-perspective: 0;
      -webkit-backface-visibility: hidden;
      -webkit-transform: translate3d(0,0,0);
      backface-visibility: hidden;

      position: absolute;
      top: 0;
      left: 0;
    }

    .front {
      z-index: 2;
      /* for firefox 31 */
      transform: rotateY(0deg);

      background-color: rgba(245,245,245,.7);
      height: $coin-diameter;
      width: $coin-diameter;
      border-radius: 50%;



    }

    .back {
      transform: rotateY(180deg);
    }

    .face {
      width: $coin-diameter + 1;
    }

    .logo {
      width: $coin-diameter;
      margin-top: 40px;
    }
  }

  .page-header {
    margin-top: 0px;
    border-bottom: none;
    color: $black;

    h1 {
      margin-top: 0px;
    }
  }

  navbar {
    height: 32px;

    ul {
      margin-top: 15px;

      li {
        height: 32px;
        width: 100px;

        a {
          width: 100px;
          margin: auto;
          color: $secondary;

          &:hover {
            background-color: inherit;
            opacity: 0.8;
            text-decoration: underline;
          }
        }

      }
    }
  }
}

.show {
  transform: rotateY(900deg);
}

.banner {
  position: fixed;
  width: 100%;
  top: 15px;
  -webkit-perspective: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0,0,0);
}
.controls-fixed{
  bottom:0;
  left:0;
  padding:10px 15px;
  position:fixed;
  top:auto;
  width:100%;
}
