.nav > li {
  text-align: center;
}

.profile {
  width: 100%;
  max-width: 275px;
}

.text {
  margin-top: 10%;
}

/* overwriting defaults for bootstrap nav hover */
.nav > li > a:hover, .nav > li > a:focus {
  background-color: $secondary-color;
}

.nav > li > a.img-link:hover, .nav > li > a.img-link:focus {
  background-color: inherit;
  opacity: 0.65;
}