.resume {
  margin: 16px;

  .xp-panel:hover {
    opacity: 0.6;
  }

  .panel.panel-default {
    margin-bottom: 0px;
    min-height: 130px;

    perspective: 1000px;
    transition: 1.8s;
    transform-style: preserve-3d;
      
    .panel-heading .row {
      padding-left: 16px;
      padding-right: 16px;

      h5 {
       display: inline;
      }
    }

    .panel-body {
      padding-top: 0px;
      padding-bottom: 0px;

      .technologies {
        position: absolute;
        bottom: 0px;
        width: 100%;
        min-width: 345px;
        padding-right: 15px;

        .badge {
          margin: 1px;
        }
      }
    }

  }

  .panel-default.active {
    transform: rotateY(180deg);
  }

  .front, .back {
    backface-visibility: hidden;
  }

  .front {
    z-index: 2;
  }

  .back {
    transform: rotateY(180deg);
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    p {
      backface-visibility: hidden;
      margin: 10px 15px;
      overflow: scroll;
      height: 100px;
    }
  }

  .badge {
    backface-visibility: hidden;
  }

  @media only screen and (min-width: 768px) {
    .subheader {
      margin: 15px;
    }

    .xp-panel {
      margin-bottom: 15px;
    }
  }
}