.welcome {
  div {
    border: 4px solid $black;

    p {
      margin-bottom: 12px;
    }

    h5 {
      font-size: 20px;
    }

    .img-wrapper {
      display: block;
      margin: auto;
      width: fit-content;
      img {
        max-width: 600px;
        max-height: 600px;
        display: inline-block;
        margin: auto;
        border: 4px solid $black;
      }
    }
  }
}

.qr-img {
  max-width: 300px;
}

.link-container {
  .crowdfunding {
    a {
      display: inline-block;
      padding: 20px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .welcome {
    margin-left: 15px;
    margin-right: 15px;
  }
}