<strong>Enjoying this content?</strong>
<p class="money-banner">
  <a href='http://www.ko-fi.com/ellenwondra' alt='ko-fi account'target="__blank">
    Catch me on Ko-Fi <span class="glyphicon glyphicon-piggy-bank" aria-hidden="true"></span>
  </a> 
  <a href='https://www.paypal.me/ln1draw' alt='paypal account' target="__blank">
    Peep me on PayPal <span class="glyphicon glyphicon-gift" aria-hidden="true"></span>
  </a>
  <a href='https://venmo.com/Ellen-Wondra' alt='venmo account' target="__blank">
    Visit me on Venmo <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
  </a>
</p>