


<img class="profile img-circle center-block" src="MYFACE.jpg" alt="a beautiful, talented, bespectacled developer">

<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">Ellen Wondra</a></li>
  <li role="presentation"><a href="#">About</a></li>
  <li role="presentation"><a href="#">Contact</a></li>
</ul>