<div class="media">
  <ul class="nav nav-tabs">
    <li role="presentation" class="media-left media-middle"><a href="/about">About</a></li>
    <li role="presentation" class="media-body profile">
      <a href="/">
        <img class="img-circle center-block" src="MYFACE.jpg" alt="a beautiful, talented, bespectacled developer">
      </a>
    </li>
    <li role="presentation" class="media-right media-middle"><a href="/contact">Contact</a></li>
  </ul>
</div>