<div class="header" ng-controller="HeaderController">
  <div class="row pic-container" id="pic-container" ng-click="faceToggle()" ng-class="{'show' : showFace}" ng-style="loadedStyle">

    <div class="front" ng-init="loaded = true">
      <img class="logo" src="/logo.png" alt="logo {EW}">
    </div>

    <div class="back">
      <img class="face img-circle center-block profile" src="/MYFACE.jpg" alt="image of the developer">
    </div>
  </div>
  <a class="page-header" href="/" title="home page">
      <h1>ellen wondra</h1>
      <small>software engineer. pet herder. crafty.</small>
  </a>

  <navbar>
    <ul class="list-inline">
      <li><a href="/resume" title="interactive resume" class="links">resume</a></li>
      <li><a href="/links" title="links" class="links">links</a></li>
      <li><a href="/blog" title="blog" class="links">blog</a></li>
    </ul>
  </navbar>

  <div ng-show="showBanner" class="alert alert-warning alert-dismissible banner" role="alert" ng-style="bannerStyle">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>Enjoying this content?</strong>
    <a href='http://www.ko-fi.com/ellenwondra' alt='link to ko-fi account'>Buy me a coffee! <span class="glyphicon glyphicon-piggy-bank" aria-hidden="true"></span></a>
  </div>
</div>
